/* Root = Horizontal, Secondary = Vertical */
ul#navmenu-h { 
  margin: 0;
  border: 0 none;
  padding: 0;
  width: 100%;/*For KHTML*/
  list-style: none;
  height:14px;
}

ul#navmenu-h li {
  margin: 0;
  border: 0 none;
  padding: 0;
  float: left; /*For Gecko*/
  display: inline;
  list-style: none;
  position: relative;
  height: 14px;
  z-index:100px;
}

ul#navmenu-h ul {
  float: right;
  margin: 0;
  border: 0 none;
  padding: 0;
  /*width: 200px;*/
  list-style: none;
  display: none;
  position: absolute;
  z-index:100px;
  top:17px;
  left: 0;
  width: 200px;
}

ul#navmenu-h ul:after /*From IE 7 lack of compliance*/{
  clear: both;
  display: block;
  font: 1px/0px serif;
  content: ".";
  height: 0;
  visibility: hidden;
  
}

ul#navmenu-h ul li {
  width: 105px;
  float: left; /*For IE 7 lack of compliance*/
  display: block !important;
  display: inline; /*For IE*/
  padding-left: 10px;
}

/* Root Menu */
ul#navmenu-h a {
  border: 0px solid #FFF;
  border-right-color: #CCC;
  border-bottom-color: #CCC;
  padding:1px 24px 1px 10px;
   float: none !important; /*For Opera*/
  float: left; /*For IE*/
  display: block;
  /*background: #EEE; 
  color: #666;*/
  z-index:100px;
  font: 12px Arial, Helvetica, sans-serif;
  text-align:left;
  text-transform:uppercase;
  color:#003370;
  text-decoration: none;
  height: auto !important;
  height: 1%; /*For IE*/
}

/* Root Menu Hover Persistence */
ul#navmenu-h a:hover,
ul#navmenu-h li:hover a,
ul#navmenu-h li.iehover a {

 	font: 12px Arial, Helvetica, sans-serif;
    text-transform:uppercase;
  	color: #000000;
	
}

/* 2nd Menu */
ul#navmenu-h li:hover li a,
ul#navmenu-h li.iehover li a {
  float: none;
  font: 11px Arial, Helvetica, sans-serif;
  background: #f9f9f9;
  border-bottom:1px solid #FFF;
  color: #003370;
    
}

/* 2nd Menu Hover Persistence */
ul#navmenu-h li:hover li a:hover,
ul#navmenu-h li:hover li:hover a,
ul#navmenu-h li.iehover li a:hover,
ul#navmenu-h li.iehover li.iehover a {
  background: #f9f9f9;
  font: 11px Arial, Helvetica, sans-serif;
  border: solid 1px #fff;
  text-transform:uppercase;
  color: #003370;
}

/* 3rd Menu */
ul#navmenu-h li:hover li:hover li a,
ul#navmenu-h li.iehover li.iehover li a {
  background: #fff;
  
  color: #666;
}

/* 3rd Menu Hover Persistence */
ul#navmenu-h li:hover li:hover li a:hover,
ul#navmenu-h li:hover li:hover li:hover a,
ul#navmenu-h li.iehover li.iehover li a:hover,
ul#navmenu-h li.iehover li.iehover li.iehover a {
  background: #fff;
  
  color: #003370;
}

/* 4th Menu */
ul#navmenu-h li:hover li:hover li:hover li a,
ul#navmenu-h li.iehover li.iehover li.iehover li a {
  background: #fff;
  color: #003370;
}

/* 4th Menu Hover */
ul#navmenu-h li:hover li:hover li:hover li a:hover,
ul#navmenu-h li.iehover li.iehover li.iehover li a:hover {
  background: #none;
  color: #003370;
}

ul#navmenu-h ul ul,
ul#navmenu-h ul ul ul {
  display: none;
  position: absolute;
  top: 0;
  left: 160px;
}

/* Do Not Move - Must Come Before display:block for Gecko */
ul#navmenu-h li:hover ul ul,
ul#navmenu-h li:hover ul ul ul,
ul#navmenu-h li.iehover ul ul,
ul#navmenu-h li.iehover ul ul ul {
  display: none;
}

ul#navmenu-h li:hover ul,
ul#navmenu-h ul li:hover ul,
ul#navmenu-h ul ul li:hover ul,
ul#navmenu-h li.iehover ul,
ul#navmenu-h ul li.iehover ul,
ul#navmenu-h ul ul li.iehover ul {
  display: block;
}

