#header 
	{
		font-family:Arial, Helvetica, sans-serif;
		float:left;
		font-size:12px;
		color:#000000;
		background-color:#f9f9f9;
		float:left;
		width:100%;
		background-image:url("../Images/bg.jpg");
		background-repeat:repeat-x;
		background-position:bottom;
		line-height:normal;
		
	}
#header ul {
  margin:0;
  padding:2px 0px 0;
  list-style:none;
  background-color:#f9f9f9
  }
#header li {
  float:left;
  /*background:url("../Images/left1.png") no-repeat left top;*/
  background-color :#c2c2c2;
  border :solid 1px black;
  border-bottom :none;
  margin:0;
  padding:0 2px 0 6px;
  }
#header a {
  float:left;
  display:block;
  /*background:url("../Images/right1.png") no-repeat right top;*/
  background-color :#c2c2c2;
  padding:5px 15px 4px 6px;
  text-decoration:none;
  color:#000;
  }
/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
#header a {float:none;}
/* End IE5-Mac hack */
#header a:hover {

  color:#8eafda;
  }
#header .current {
	font-weight:bold;
	color:White;
	/*background-image:url("../Images/left1.png");*/
	background-image:none;
	background-color :#5b8fc9;
  }
#header .current a {
  /*background-image:url("../Images/right1.png");
  color:#333;*/
  color:White;
  background-image:none;
  background-color :#5b8fc9;
  padding-bottom:5px;
  }
